doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Inter&display=swap')
    script(type='text/javascript', src='https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js', defer)
    style
      include style.css

  body
    div.admin(x-data="{ text: 'Hello world', background: 'https://grafana.com/products/assets/cloud-grafana-0.png' }")
      div.inputs
        div
          input(type="text", placeholder="text", x-model.debounce="text")
        div
          input(type="text", placeholder="background" x-model.debounce="background")
      div.image
        img(x-bind:src="`/${text}.png?background=${background}`", width="600", x-bind:alt="text")