div.container(style='background: center / cover no-repeat url("{{ .background }}");')
  div.hero
    div
      h1 {{ .message }}
      div
        img(src='/grafana_logo-web.svg', width='250').logo
div.overlay
