div.container(style='background: center / cover no-repeat url("{{ .background }}");')
  div.hero
    div
      h1 {{ .message }}
      div
        img(src='https://grafana.com/static/assets/internal/grafana_logo-web.svg', width='400').logo
div.overlay
