/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/inter/inter-v3-latin-regular.woff') format('woff');
}

/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('/inter/inter-v3-latin-500.woff') format('woff');
}

/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('/inter/inter-v3-latin-600.woff') format('woff');
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('/inter/inter-v3-latin-700.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1200px;
  height: 700px;
  max-width: 100%;
  position: relative;
}

.hero {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1000px;
  height: 700px;
}

.hero h1 {
  font-size: calc(4rem);
  color: hsl(216, 33%, 97%);
  font-weight: 500;
}

.overlay {
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  position: absolute;
  top: 0;
}

.logo {
  margin-top: 3rem;
}

.admin {
  padding: 5rem;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.admin input {
  margin: .25rem;
}

.admin image {

}